# User-specific files
*.xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate

# Build products
build/
DerivedData/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode project files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/**/*
*.xcodeproj/xcuserdata/

# Xcode workspace files
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/**/*
*.xcworkspace/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/*.lock

# Temporary files
*.tmp
*.temp
*.swp
*.lock

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon must end with two \r
Icon\r\r

# Trashes
.Trashes

# vscode
.vscode

